
.imagem-carrossel{
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}
.imagem-carrossel-2{
    object-fit: cover;
    object-position: 0 30%;
    height: 400px;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-especial{
    color: darkred !important;
}

.botao-cor-especial{
    background-color: darkred;
    color: #fff;
}

.borda-cor{
    border-color: darkred;
}
.largura-cartao{
    max-width: 18rem;
   
}
.card-posicao-imagem{
    object-fit: cover;
    height: 200px;
}